<main class="container grid-centre">
<header>
    <button class="hamburger-btn circle-element"><span class="hamburger"></span></button>

    <a class="logo-link"href="#"><img src="/img/logo.png" alt="image of logo for Webdev by George"></a>

    <nav class="navbar">
       <ul class="nav-container">
                    <li class="nav-item "><a class="text-m font-wt-700" href="/">home</a></li>
                    <!-- Need to pass in a bool to configure whter this says login or logout -->
                    <li class="nav-item"><a  class="text-m font-wt-700"href="/logout">Logout</a></li>
                    <li class="nav-item"><a class="text-m font-wt-700" href="https://github.com/UrgellMossley">Github</a></li>
                    <li class="nav-item"><a  class="text-m font-wt-700"href="#"><%=auth%></a></li>
        </ul>
    </nav>
</header>
