/* Main Body Styling */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
section{
    margin: 1rem 0;
}
.headline{
    padding: 1rem 0;
    text-align: center;
}
.section-img{
    grid-row: 3;
    width: 95%;
    height: 95%;
    padding: 0.25rem;
}
.doodle{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media screen and (min-width: 560px) {

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}
.lead-text{
        grid-column: 5/9;
        align-self: center;
        grid-row: 1/2;
    }
.text-box{
        grid-row: 3/4;
        grid-column: 2/7;
    }
.section-img{
        grid-row: 3/4;
        grid-column: 7/13;
}
.start-section{
    grid-row: 4/5;
    grid-column: 6/8;
}
}