/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Resets and variable declarations */
*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root {
  --main-bg-color: #E1EBEE;
  --main-element-accent: #0A2C70; 
  --nav-color: rgb(255, 205, 87);
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
}
/* Utility classes */
.text-xl{
    font-size: 4rem;
}
.text-lg{
    font-size: 3rem;
}
.text-m{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.text-sm{
    font-size: 2rem;
}
.text{
    padding: 0.5rem;
}
.grid-centre{
    place-items: center;
}
.circle-element{
    border-radius: 50%;
}
.hidden-item{
    display: none;
}
.flex-centre{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.font-wt-700{
    font-weight: 700;
}
.btn{
    cursor: pointer;
    padding: 2rem;
    border: none;
    border-radius: 5%;
}
.text-box{
    width: 95%;
}
/* Navbar styling */
.navbar{
    width: 100%;
    max-height: 20rem;
    background: var(--main-bg-color);
    grid-row: 2;
    grid-column: 1/4;
}
.nav-container{
    padding-bottom: 0.5rem;
    height: 100%;
    display: flex/*should be flex by default then add close class display: none*/;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--nav-color);
}
.nav-item{
    
    
}
.nav-item > a{
    color: #fff;
}
header > a > img {
    height: 8rem;
}
.logo-link{
    grid-column: 2;
    margin: 1.5rem 0;
    justify-self: center;
}
a{
    text-decoration: none;
}    

.nav-item{
    list-style: none;
    font-size: 2rem;
    text-transform: capitalize;
}
/* hamburger menu*/
.hamburger,
.hamburger::after,
.hamburger::before{
    display: block;
    width: 2rem;
    height: 0.25rem;
    background: #000;
    position: relative;
    margin: 0 auto;
}

.hamburger::before, .hamburger::after{
    position: absolute;
    content: " ";
    left: 0;
}
.hamburger::after{
    top: 0.5rem;
}
.hamburger::before{
    top: -0.5rem;
}
/* Hamburger btn */
.hamburger-btn{
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    border: none;
    grid-column: 1;
}
/* dropdown menu */
header{
grid-column: 1/4;
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
position: sticky;
top: 0;
opacity: 0.95;
background: var(--main-bg-color);
z-index: 1000;
height: 100%;
}