:root{
    --tablecolor: #5860cf;
}
/* Layout of page */
.container{
    min-height: 100vh;
    height: 100%;
    max-width: 100vw;
    width: 100vw;
    grid:15vh auto/ auto ;
}
section{
    width: 100%;
}
#new-case{
    margin: auto;
}
#queue-text{
    color: lightcoral;
}
#ticket-text{
    margin-bottom: 2rem;
}
.ticket-table{
    max-width: 95%;
    margin-top: 3rem;
    overflow: auto;
}
.headline{
    margin-bottom: 1rem;
    text-align: center;
}

#ticket-count{
    margin-top: 3rem;
    text-align: center;
}
.btn, .btn-sm{
    margin: 2rem 0;
}
/* Table layout */

.head-column{
    background: #5860cf;
    color: white;
    text-align: center;
    border: none;
    
}

table{
    grid-column: 2 ;
    border-radius: 1.5rem 1.5rem 0 0;
    overflow:hidden;
    border: 1px solid var(--tablecolor);
    border-collapse: collapse;
    
}
td{
    padding: 0.4rem;
    background: #fff;   
}

.cell{
    text-align: center;
}
.rowStyle > td{
    background: rgb(216, 218, 223);
}
.highlighted-row{
    border:2px solid coral;
}
@media screen and (min-width: 810px) {
    .flex-container{
        grid-column: 1/13;
    }
}