<%-include(`../includes/head.ejs`)%>
<%-include(`../includes/nav.ejs`)%>
</head>
<body>
    <h1>Unauthorised Accesx</h1>
    <h2>You need to be signed in to look at this content!</h2>
    <p>Please click <a href="/login-form">here to login</a></p>
<%-include(`../includes/end.ejs`)%>
<%-include(`../includes/scripts.ejs`)%>

