<%-include(`../includes/head.ejs`)%>
<link rel="stylesheet" href="/css/index.css">
</head>

    <%-include(`../includes/nav.ejs`)%>
    <section class="grid-centre lead-text">
            <h1 class="headline text-xl">Bug Tracker App</h1>
    </section>
    <section class="grid-centre text-box" id="text-box-1">
         <p class="text text-lg">This application is my first fullstack application.</p>
         <p class="text text-lg">Using NodeJS and Mysql I am attempting to serve up an application that allows both users and admins to create, monitor and action tickets!</p>
    </section>
    <section class="grid-centre section-img">
        <img class="doodle" src="/img/MessyDoodle.png" alt="picture of a lady multi tasking">
    </section>
    <section class="start-section">
            <a href="/register-form"><button id="start-btn" class="btn text-sm grid-centre">Get Started!</button></a>
    </section>
<%-include(`../includes/end.ejs`)%>
<%-include(`../includes/scripts.ejs`)%>