<%-include(`../includes/head.ejs`)%>
<link rel="stylesheet" href="/css/login.css">
</head>
  <%-include(`../includes/nav.ejs`) %>
  <main class="container">
    <section id="welcome-section">
       <%if (errorMsg){%>
          <h1 class="error-headline headline text-m font-wt-700">Sorry, something went wrong try again to login</h1>
       <%} else {%>
           <h1 class="text-lg font-wt-700">Login Page</h1>

       <%}%>

    </section>
   
    <section id="forms">
      <h2 class="text-m">Please Enter Your Details</h2>
      <form id="login-form" method="POST" action="/login">
        <div class="label-container">
                  <label class="text-sm font-wt-700" for="username">Enter Username:</label>
        </div>
        <input type="text" placeholder="Username goes here" name="username">
        <div class="label-container">
           <label class="text-sm font-wt-700"for="password">Enter Password:</label>
        </div>
        <input placeholder="Password goes here" type="password" name="password">
        <button class="btn btn-sm" type="submit" value="Submit">Login!</button>
    </form>
        <h2 class="text-m"><a href="/register-form">Not registered yet?</a></h2>
    </section>

 <%-include(`../includes/end.ejs`) %>
<script src="/js/login.js"></script>
<%-include(`../includes/scripts.ejs`)%>