<%-include(`../includes/head.ejs`)%>
<!-- put css link here -->
</head>
  <%-include(`../includes/nav.ejs`) %>
    

    <h1>Login Page</h1>
    <form method="POST" action="/register">
        <br>Enter name:<br><input type="text" name="firstName">
        <br>Enter surname:<br><input type="text" name="surname">
        <br>Enter email:<br><input type="email" name="email">
        <br>Enter Username:<br><input type="text" name="username">
        <br>Enter Password:<br><input type="password" name="password">
        <br><br><input type="submit" value="Submit">
    </form>





<%-include(`../includes/end.ejs`) %>
<script src="/js/login.js"></script>
<%-include(`../includes/scripts.ejs`)%>