<%-include(`../includes/head.ejs`)%>
<link rel="stylesheet" href="/css/register.css">
</head>
  <%-include(`../includes/nav.ejs`) %>
  <main class="container"></main>
  <section id="welcome">
    <h1 class="text-lg font-wt-700">First Time?</h1>
    <p id="register-text"class="text-sm font-wt-700">Happy to have you, please register below:</p>
  </section>
  <section id="form-section">
     <form id="register-form" method="POST" action="/register">
        <div class="label-container"><label class="text-sm font-wt-700" for="firstName">Enter Forname:</label></div>
        <input type="text" name="firstName">
        <div class="label-container"><label class="text-sm font-wt-700" for="surname">Enter Surname:</label></div>
        <input type="text" name="surname">
        <div class="label-container"><label class="text-sm font-wt-700" for="email">Enter Email:</label></div>
        <input type="email" name="email">
        <div class="label-container"><label class="text-sm font-wt-700" for="username">Enter Username:</label></div>
        <input type="text" name="username">
        <div class="label-container"><label class="text-sm font-wt-700" for="password">Enter Password:</label></div>
        <input type="password" name="password">
        <button class="btn-sm btn" type="submit" value="Submit">Register</button>
    </form>
  </section>
   





<%-include(`../includes/end.ejs`) %>
<script src="/js/login.js"></script>
<%-include(`../includes/scripts.ejs`)%>